{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "src/xulrunner/examples/**/*-prefs.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": "src/xulrunner/config/prefs/*.js",
      "options": {
        "semi": true
      }
    }
  ]
}
